<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='form-css/form.css') }}">
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>INVENTARIO</title>
</head>
<body>
    <nav>
        <input type="checkbox" name="" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a href="#" class="enlace">
            <img src="{{ url_for('static', filename='Img/inv.png') }}" alt="logo" class="logo">
        </a>
        <ul>
            <li><a href="{{ url_for('registrar') }}" >Registrar</a></li>
        </ul>
    </nav>
    <!--LINK NEXT Y BEFORE-->
    <div class="links-btn">
        <a href="{{ url_for('Otros') }}" class="link-btn">Anterior</a>
        <a href="{{ url_for('Perifericos') }}" class="link-btn">Siguiente</a>
    </div>
    <!--TITULO-->
    <h2 class="titulo-form">Equipo</h2>

    <section class="form-section">
        <div class="form-formu">
            <form action="/equipo" class="form" method="post">
                <label for="numero">Numero Equipo</label>
                <input type="text" id="numero" name="numero" placeholder="Ejm: Equipo 1" required>
        
                <label for="serial">Serial</label>
                <input type="text" id="serial" name="serial" placeholder="Ejm: 4BC35TM9" required>
        
                <label for="marca">Marca</label>
                <input type="text" id="marca" name="marca" placeholder="Ejm: J&R" required>
    
                <label for="ram">Ram</label>
                <input type="text" id="ram" name="ram" placeholder="Ejm: 8 GB DRR4" required>
    
                <label for="procesador">Procesador</label>
                <input type="text" id="procesador" name="procesador" placeholder="Ejm: Intel Core I5 5600" required>
    
                <label for="disco">Disco</label>
                <input type="text" id="disco" name="disco" placeholder="Ejm: 500 GB HDD o SSD " required>
    
                <hr>
    
                <label for="fecha">Fecha</label>
                <input type="date" id="fecha" name="fecha" required>
    
                <label for="estado">Estado</label>
                <input type="text" id="estado" name="estado" placeholder="Ejm: Bueno o Malo" required>
    
                <label for="grafica">Targeta Grafica</label>
                <input type="text" id="grafica" name="grafica" placeholder="Ejm: intel graphics 630">
        
                <label for="descripcion">Descripción</label>
                <textarea name="descripcion" id="descripcion" cols="30" rows="5" placeholder="Otras Características o Detalles"></textarea>
        
                <label for="ubicacion">Ubicacion</label>
                <input type="text" id="ubicacion" name="ubicacion" placeholder="Ejm: Sala 1" required>
    
                <button type="submit">Enviar</button>
            </form>
        </div>
    </section>
    <!--Tabla Equipo-->
    <div class="tabla-equipo">
        <table class="table-eq">
            <thead>
                <th>#</th>
                <th>N EQUIPO</th>
                <th>SERIAL</th>
                <th>MARCA</th>
                <th>RAM</th>
                <th>PROCESADOR</th>
                <th>DISCO</th>
                <th>FECHA</th>
                <th>ESTADO</th>
                <th>TARGETA GRAFICA</th>
                <th>DESCRIPCIÓN</th>
                <th>UBICACION</th>
                <th>EDITAR</th>
                <th>ELIMINAR</th>
            </thead>
            <tbody>
                    {% for row in data %}
                        <tr>
                            <td>{{row.ID_Equipo}}</td>
                            <td>{{row.N_Equipo}}</td>
                            <td>{{row.Equipo_Serial}}</td>
                            <td>{{row.Equipo_Marca}}</td>
                            <td>{{row.Equipo_Ram}}</td>
                            <td>{{row.Equipo_Procesador}}</td>
                            <td>{{row.Equipo_Disco}}</td>
                            <td>{{row.Equipo_FechaRegis}}</td>
                            <td>{{row.Equipo_Estado}}</td>
                            <td>{{row.Equipo_Grafica}}</td>
                            <td>{{row.Equipo_Descripcion}}</td>
                            <td>{{row.Equipo_Ubicacion}}</td>
                            <td><a href="/edit/{{row.ID_Equipo}}" class="link-edit">EDITAR</a></td>
                            <td><a href="/delete/{{row.ID_Equipo}}" class="link-delete">ELIMINAR</a></td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
    <!--PIE DE PAGINA-->
    <footer class="pie-pagina">
            <div class="boxing">
                <figure>
                    <a href="#">
                        <img src="{{ url_for('static', filename='Img/logouniversidad.png') }}" alt="Logo uni">
                    </a>
                </figure>
            </div>
</body>
</html>